@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&family=Special+Elite&display=swap');
body {
	margin: 0;
	font-size: .85rem;
}

h1 {
	margin: 0;
}
div {
	text-align: center;
}
.app {
	display: flex;
	justify-content: space-around;
}

.gameWindow {
	margin: 40px auto;
	width: 1060px;
	height: 680px;
	padding: 20px;
	background: #ddd;
	display: flex;
}
.display {
	background: #ccc;
}

.right {
	width: 400px;
	z-index: 1;
}
img {
	width: 50px;
}
.start {
	margin: 20px auto;
	background: #fff;
	border-radius: 5px;
	width: 50%;
}
#roll {
	position: absolute;
	bottom: -20px;
	right: 190px;
}
#goUpBtn:focus,
#nextTurnBtn:focus,
#moveBtn:focus {
	outline: 0;
}
#goUpBtn,
#nextTurnBtn,
#moveBtn {
	margin: 0 25px;
	height: 35px;
	width: 75px;
	background: #2f2f2f;
	color: white;
	border-radius: 5px;
	border: 2px solid white;
	box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}